
body {
  background-color: #002b36;
  width:7680px;
  height:4320px;
  font-size: 8px;
}

.f1 { color: #dc322f; } 
.f2 { color: #859900; }

.f9 { color: #93a1a1; }
.b9 { 
  -webkit-column-gap: 5px;
  -webkit-column-width: 300px;
  font-weight: 900;

  /* first fill height */
  -moz-column-fill: auto;
  column-fill: auto;

}

/* comments */
.underline {
   font-size: 8px;
   color: #586e75;
}

/* tables */
.bold {
   font-size: 7px;
   color: #839496;
   font-family:"BitStream Vera Sans Mono";
}

/* titles */
.b1 {
   color: #eee8d5;
}

/* Avoid pixels between adjacent span elements.  */
span { 
  font-size: 15px;
}

pre {
  font-family:"Gentium";
  white-space: pre-wrap;
  word-wrap: break-word;
}
