/* Seems better to intsall fonts on system */
/*
@font-face {
  font-family: "Gentium Basic";
  src: url(GenBasR.ttf);
}

@font-face {
  font-family: "Bitstream Vera Sans Mono";
  src: url(VeraMono.ttf);
}

*/
body {
  background-color: #002b36;
  width:7680px;
  height:4320px;
  font-size: 7px;
  margin: 0;
}

/* stuff added */
.f1 {
  color: #073642; 
  background-color:  #dc322f;
} 
/* stuff removed */
.f2 {
  color: #073642; 
  background-color: #859900;
}

.f9 { color: #93a1a1; }
.b9 { 
  -webkit-column-gap: 5px;
  -webkit-column-width: 260px;
  font-weight: 900;

  /* first fill height */
  -moz-column-fill: auto;
  column-fill: auto;

}

/* comments */
.underline {
   font-size: 7px;
   color: #586e75;
}

/* tables */
.bold {
   font-size: 6px;
   color: #839496;
   font-family: "Bitstream Vera Sans Mono";
}

/* titles */
.b1 {
   color: #eee8d5;
}

/* Avoid pixels between adjacent span elements.  */
span { 
  font-size: 10px;
}

pre {
  font-family: "Gentium Basic";
  white-space: pre-wrap;
  word-wrap: break-word;
}
