
body {
  background-color: #002b36;
  width:7680px;
  height:4320px;
  font-size: 8px;
}

.f1 { color: #dc322f; } 
.f2 { color: #859900; }

.f9 { color: #93a1a1; }
.b9 { 
  -webkit-column-gap: 5px;
  -webkit-column-width: 300px;
  font-weight: 900;
}

/* Avoid pixels between adjacent span elements.  */
span { 
  font-size: 15px;
}

pre {
  font-family:"Gentium";
  white-space: normal;
  word-wrap: break-word;
}
